

#h1{

    width: 250px;
    padding: 10px;
    text-align: center;
    margin-left: 250px;
    background-color: rgba(210, 129, 175, 1);
}

#q{
    background-color: rgba(210, 129, 175, 1);
    width: 600px;
padding: 10px;




}


#kaka{
    color: black;
    border: 5px solid;
    background-color:rgba(210, 129, 175, 1) ;
}
#kaka3{
    color: black;
    border: 5px solid;
    background-color:rgba(210, 129, 175, 1);
   
}
#juju{
    background-color: rgba(210, 129, 175, 1);
    width: 600px;
padding: 10px;
}