
#fuck{
    border-bottom: 3px solid;
    width: 300px;
    text-align: center;
    padding: 5px;
    margin-left: 250px;
}

#kaka{
    border: 5px solid;
    border-color: gray;
    color: rgba(143, 143, 143, 1);
}
#ILVU{
    background-color: rgba(220, 221, 221, 1);
    width: 500px;
}
#prf{
    border-bottom: 2px solid;
    width: 40px;
}